.notification-views {
  margin-bottom: 1em;
}

.notification-views.deleted {
  display: none;
}

a {
  color: white;
  text-decoration: inherit; /* no underline */
}
.notification-view, .delete-view {
  display: flex;
  color: white;
}

.thumbnail {
  position: relative;
}

.thumbnail .length {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: black;
  padding: 0.2em 0.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.thumbnail img.desktop {
  height: 180px;
}
.thumbnail img.mobile {
  height: 90px;
  display: none;
}

.video-details {
  display: initial;
  flex-grow: 1;
  overflow: hidden;
}

.video-details > div {
  margin-left: 1rem;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.description .overflow {
  display:none;
}
.description.expanded .overflow {
  display: inherit;
}
.description .expand {
  border: solid 2px white;
  border-radius: 5px;
  width: 6em;
  padding: 0.3em;
  margin-top: 1em;
  cursor: pointer;
}

.channel {
  padding-bottom: 1em;
}
.channel a {
font-size: 1.2rem;
}

.channel .date {
  float: right;
  padding-right: 1em;
}

.notification-view .delete-icon svg {
  font-size: 3rem;
  cursor: pointer;
}

.delete-view {
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  height: 180px;
}
.delete-view .delete-icon {
  font-size: 3rem;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .thumbnail img.mobile {
    display: initial;
  }
  .thumbnail img.desktop {
    display: none;
  }
  .thumbnail .length {
    top: 4px;
    left: 4px;
    background-color: black;
    padding: 0.2em 0.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
  }
  .title {
    font-size: 1.0em;
  }
  .description {
    display: none;
  }
  .channel {
    padding-bottom: 0;
  }
  .channel a {
    font-size: 1rem;
    font-weight: bold;
  }
  .channel .date {
    font-size: 0.8rem;
  }
  .delete-view {
    height: 90px;
  }
  .notification-view .delete-icon {
    display: none;
  }
}