.notification-views {
  margin-bottom: 1em;
}

.notification-views.deleted {
  display: none;
}

a {
  color: white;
  text-decoration: inherit; /* no underline */
}
.notification-view, .delete-view {
  display: flex;
  color: white;
}

.thumbnail.desktop {
  height: 180px;
}
.thumbnail.mobile {
  height: 90px;
  display: none;
}

.video-details {
  display: initial;
  flex-grow: 1;
  overflow: hidden;
}

.title, .description {
  margin-left: 1rem;
}

.title {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.description .overflow {
  display:none;
}
.description.expanded .overflow {
  display: inherit;
}
.description .expand {
  border: solid 2px white;
  border-radius: 5px;
  width: 6em;
  padding: 0.3em;
  margin-top: 1em;
  cursor: pointer;
}

.notification-view .delete-icon {
  font-size: 3rem;
  cursor: pointer;
}

.delete-view {
  border: solid 2px white;
  border-radius: 5px;
  cursor: pointer;
  height: 180px;
}
.delete-view .delete-icon {
  font-size: 3rem;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .thumbnail.mobile {
    display: initial;
  }
  .thumbnail.desktop {
    display: none;
  }
  .title {
    font-size: 1.0em;
  }
  .description {
    display: none;
  }
  .delete-view {
    height: 90px;
  }
  .notification-view .delete-icon {
    display: none;
  }
}